@charset "UTF-8";
/*********************************************************************************************
Plugin Name: MOJ Blocks
Author:  Ministry of Justice
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: mojblocks

**********************************************************************************************/

$mojblocks-color-teal: #336C83;
$mojblocks-color-yellow: #FFDD00;
$mojblocks-color-purple: #912B88;
$mojblocks-color-lime: #B8EA23;
$mojblocks-color-violet: #4C2C92;
$mojblocks-color-mustard: #FFCE21;
$mojblocks-color-dark-blue: #003078;
$mojblocks-color-orange: #FF993C;
$mojblocks-color-black: #0B0C0C;
$mojblocks-color-grey: #6F777B;
$mojblocks-color-mid-grey: #B1B4B6;
$mojblocks-color-light-grey: #F3F2F1;
$mojblocks-color-white: #ffffff;

.mojblocks-staggered-block {
  &__image {
    display: inline;
    margin-left: -5rem;
  }

  &__text-container {
    z-index: 1;
    background-color: $mojblocks-color-grey;
    color: $mojblocks-color-white;
    padding: 1rem;
    width: 20rem;
    display: inline-block;
    position: relative;
  }
}

.is-style-staggered-block-image-left > .mojblocks-staggered-block__image{

  float: left;
  margin-right: -5rem;
  margin-left: 0;
}