@charset "UTF-8";
/*********************************************************************************************

Block: Auto item list (Frontend styles)

**********************************************************************************************/

.mojblocks-auto-item-list {
	margin-bottom: govuk-px-to-rem(24);

	&__item {
		margin-bottom: govuk-px-to-rem(18);
	}

	@include govuk-media-query($from: tablet) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: stretch;

		&__item {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
			width: 32%;
			min-width: min(100%, 150px); // This is to ensure the items don't get too scrunched up when put into columns etc.

			&--1, &--2, &--4 {
				width: 49%;
			}
		}

		&__content {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__content {
		padding-top: govuk-px-to-rem(16); //gap betwixt headline and image
		&:first-child {
			//removes gap meant to separate headline from image
			padding-top: 0;
		}
	}

	&__summary {
		display: -webkit-box;
		-webkit-line-clamp: 10;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__headline {
		font-weight: 700;
		margin-top: 0;
		margin-bottom: govuk-px-to-rem(16);

		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		overflow: hidden;

		@include govuk-media-query($from: tablet) {
			padding-top: 0;
		}
	}

	&__title-and-summary {
		width: 100%;
		margin-bottom: 15px;
		@include govuk-media-query($from: tablet) {
			margin-bottom: 20px;
		}

		&:last-child,
		p:last-child {
			margin-bottom: 0px;
		}
	}

	&__image {
		width: 100%;
		aspect-ratio: 16/9;
		background-color: govuk-colour("light-grey");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&--no-image {
			background-color: govuk-colour("light-grey");
			display: flex;
			align-items: center;

			svg {
				width: 100%;
				height: 75px;
				fill: govuk-colour("dark-grey");
			}
		}

		&--logo {
			border: 2px solid;
			background-size: contain;
		}
	}

	&__date {
		font-size: govuk-px-to-rem(14);
		margin: 0;
		line-height: 1.14;
		@include govuk-media-query($from: tablet) {
			font-size: govuk-px-to-rem(16);
			line-height: 1.25;
		}
		&:not(.has-text-color p) {
			color:$govuk-text-colour;
		}
		&:not(.has-background p):not(.has-text-color p) {
			color:$govuk-secondary-text-colour;
		}
	}
}

.mojblocks-auto-item-list__item {
	&.has-background,
	&.is-bordered {
		.mojblocks-auto-item-list__content {
			padding: govuk-px-to-rem(16);
			@include govuk-media-query($from: tablet) {
				padding: govuk-px-to-rem(24);
			}
			flex:1;
			align-content: space-between;
		}
	}
	&.is-bordered {
		border: 1px solid govuk-colour("mid-grey");
	}
}
