@charset "UTF-8";

/*********************************************************************************************

Plugin Name: MoJ Blocks
Author:  Ministry of Justice
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: mojblocks

**********************************************************************************************/

// Target frontend styles
@import 'node_modules/govuk-frontend/govuk/base';
@import 'node_modules/govuk-frontend/govuk/core/all';
@import 'node_modules/govuk-frontend/govuk/objects/all';

/// Individual component styles are pulled in from the blocks.
@import 'src/**/govuk.scss';

@import 'node_modules/govuk-frontend/govuk/utilities/all';
@import 'node_modules/govuk-frontend/govuk/overrides/all';

@import 'src/**/style.scss';

/// hack: prevent a horizontal scrollbar in IE11
main {
    overflow-x: hidden;
}
