/*********************************************************************************************

Plugin Name: MoJ Blocks
Author:  Ministry of Justice
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: mojblocks

**********************************************************************************************/

// Target backend (editor) styles

.edit-post-visual-editor,
.block-editor-block-styles,
.block-editor-inserter__menu-help-panel {
    @import 'node_modules/govuk-frontend/govuk/settings/typography-responsive';
    @import 'node_modules/govuk-frontend/govuk/tools/px-to-rem';
    @import 'node_modules/govuk-frontend/govuk/settings/media-queries';
    @import 'node_modules/govuk-frontend/govuk/helpers/media-queries';
    @import 'src/**/editor.scss';
}

body.block-editor-page.kt-editor-width-default div.wp-block {
    max-width: 960px;
}
