@charset "UTF-8";
/*********************************************************************************************

Block: Staggered Box (Frontend styles)

**********************************************************************************************/

.mojblocks-latest-news {
	margin: 48px 0;
	margin: govuk-px-to-rem(48) 0;

	& .govuk-grid-row {
		position: relative;

		// Gov UK override keeping the block within the container.
		margin-right: 0;
		margin-left: 0;
	}

	@include govuk-media-query($from: tablet) {
		@include govuk-clearfix;
		
		&__item {
			display: inline-block;
			padding: 10px 3% 10px 0;
			width: 32%;
			vertical-align: top;
		}
	}

	&__headline {
		margin-top: 16px;
		margin-top: govuk-px-to-rem(16);
		margin-bottom: 16px;
		margin-bottom: govuk-px-to-rem(16);
		padding-top: 16px;
		padding-top: govuk-px-to-rem(16);

		@include govuk-media-query($from: tablet) {

			padding-top: 0;

		}
	}

	&__date {
		color:red;
		font-size: 80%;
	}

	.mojblocks-latest-news-hide-date .mojblocks-latest-news__date {
		display:none;
	}

	.mojblocks-latest-news-hide-image .mojblocks-latest-news__image {
		display:none;
	}

	.mojblocks-latest-news-shew-image .mojblocks-latest-news__image {
		background-color: black;
		background-image:url("https://regia.org/images/about/EmbroideryWychurst2014-MjB.JPG");
	}

	.mojblocks-latest-news__image {
		width:80%;
		max-width:400px;
		background-repeat: no-repeat;
		background-size: cover;
		max-height: 267px;
		aspect-ratio: 3/2;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&.mojblocks-latest-news__image--no-bespoke-image {
			background-size: contain;
		}
	}
}

//IE 11 support for image sizes
*::-ms-backdrop, :root.mojblocks-latest-news__image {
	height:250px;
}
