@charset "UTF-8";
/*********************************************************************************************

Block: Staggered Box (Frontend styles)

**********************************************************************************************/

.mojblocks-latest-news {
	margin: 48px 0;
	margin: govuk-px-to-rem(48) 0;
/*
	h1 {
		@extend .govuk-heading-xl;
	}
	h2 {
		@extend .govuk-heading-l;
	}
	h3 {
		@extend .govuk-heading-m;
	}
	h4 {
		@extend .govuk-heading-s;
	}
	h5 {
		@extend .govuk-body;
	}
	h6 {
		@extend .govuk-body-s;
	}
*/
	& .govuk-grid-row {
		position: relative;

		// Gov UK override keeping the block within the container.
		margin-right: 0;
		margin-left: 0;
	}	

	@include govuk-media-query($from: tablet) {
		@include govuk-clearfix;
		
		&__item {
			display: inline-block;
			padding: 10px 3% 10px 0;
			width: 32%;
			vertical-align: top;
		}
	}

	.post-expired, .empty-text {
		display:none;
	}
	.empty-text.is-empty {
		display:block;
	}

	&__headline {
		margin-top: 16px;
		margin-top: govuk-px-to-rem(16);
		margin-bottom: 16px;
		margin-bottom: govuk-px-to-rem(16);
		padding-top: 16px;
		padding-top: govuk-px-to-rem(16);

		@include govuk-media-query($from: tablet) {

			padding-top: 0;

		}
	}

	&__date {
		color:$govuk-secondary-text-colour;
		font-size: 80%;
	}

	.mojblocks-latest-news-hide-date .mojblocks-latest-news__date {
		display:none;
	}
}

.wp-block-column:not([style="flex-basis:66.66%"]) .mojblocks-latest-news__item {
	display: block;
}

