@charset "UTF-8";
/*********************************************************************************************

Name: Quotation
Author:  Ministry of Justice - Damien Wilson

**********************************************************************************************/

/** Variables */
$mojblocks-color-teal: #336C83;
$mojblocks-color-yellow: #FFDD00;
$mojblocks-color-purple: #912B88;
$mojblocks-color-lime: #B8EA23;
$mojblocks-color-violet: #4C2C92;
$mojblocks-color-mustard: #FFCE21;
$mojblocks-color-dark-blue: #003078;
$mojblocks-color-orange: #FF993C;
$mojblocks-color-black: #0B0C0C;
$mojblocks-color-dark-grey: #454A4C;
$mojblocks-color-grey: #6F777B;
$mojblocks-color-mid-grey: #B1B4B6;
$mojblocks-color-light-grey: #F3F2F1;
$mojblocks-color-white: #ffffff;

.mojblocks-quote {
    margin: 15px 0;

    &__image {

        &-selected {
            // ratio of 3 over 2 for small devices
            width: 100%;
            padding-bottom: 75%;
            // end ratio
            position: relative;
            background-size: cover;
            background-position: top center;
            border-radius: 0;

            @include govuk-media-query($from: tablet) {
                // ratio of 2 over 1 for small devices
                padding-bottom: 50%;
            }
        }
    }

    &__content {

        &__icon {
            padding: 20px 0 2px;
            > svg {
                color: $mojblocks-color-dark-grey;
                fill: $mojblocks-color-dark-grey;
                -moz-transform: rotate(1deg) skew(-10deg, 0deg);
                -webkit-transform: rotate(1deg) skew(-10deg, 0deg);
                -o-transform: rotate(1deg) skew(-10deg, 0deg);
                -ms-transform: rotate(1deg) skew(-10deg, 0deg);
                transform: rotate(1deg) skew(-10deg, 0deg);
                min-width: 32px;
                min-height: 32px;
            }
        }

        &__quote {
            color: $mojblocks-color-dark-grey;
            display: block;
            font-style: italic;
            font-size: 22px;
            font-size: govuk-px-to-rem(22);
            line-height: 28px;
            line-height: govuk-px-to-rem(28);
            margin-bottom: 15px;
            quotes: none;
        }

        &__name {
            display: inline-block;
            font-size: 16px;
            font-size: govuk-px-to-rem(16);
            color: $mojblocks-color-dark-grey;
            margin: 0 0 24px;
        }
    }
}
