@charset "UTF-8";
/*********************************************************************************************

Block: Banner (Gutenberg editor styles)

**********************************************************************************************/

@import 'style.scss';


.mojblocks-banner {
	&__button.govuk-button {

		@include govuk-media-query($from: tablet) {
			float: left;
			margin-top: 0px;
		}
	}
}
