@charset "UTF-8";
/*********************************************************************************************

Block: Hero (Frontend styles)

**********************************************************************************************/

.mojblocks-hero {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

	.govuk-grid-row {
		margin-left:0;
		margin-right:0;
	}

  &__image {
    background: $mojblocks-color-light-grey;
    width: 101vw;
    min-height: 250px;
    min-height: govuk-px-to-rem(250);

    @media screen and (-ms-high-contrast: active) {
      filter: invert(100%);
    }

    @include govuk-media-query($from: tablet) {
      min-height: 500px;
      min-height: govuk-px-to-rem(500);
    }
  }

  &__overlay {
    float: left;
    width: 100%;
	padding: 16px 0;
	padding: govuk-px-to-rem(16) 0;

    & .govuk-grid-column-three-quarters {

      @include govuk-media-query($from: tablet) {
        padding-left: 16px;
        padding-left: govuk-px-to-rem(16);
      }
    }


    @include govuk-media-query($from: tablet) {
      margin-top: -80px;
      margin-top: govuk-px-to-rem(-80);
      background: $mojblocks-color-white;
    }

    h1, h2 {
      margin: 0;
    }
  }
	.mojblocks-intro {
		.govuk-grid-column-three-quarters {
			padding: 0;
			width: 100%;
		}
	}

}
