@charset "UTF-8";
/*********************************************************************************************

Block: Call to Action (Frontend styles)

**********************************************************************************************/

.wp-block-mojblocks-cta {
    position: relative;
    margin-bottom: 2rem;
    height: 100%;

    &:not(.page-template-default *):before {
        content: "";
        display: block;
        height: calc(100% + 15px);
        left: 50%;
        overflow: visible;
        position: absolute;
        transform: translate(-50%,-0.3em);
        width: 200vw;
        background: inherit;
        z-index: -1;

        @include govuk-media-query($from: tablet) {
            height: calc(100% + 5px);
        }
    }

    .govuk-grid-row {
        // Gov UK override keeping the block within the container.
        margin-right: 0;
        margin-left: 0;
    }

    .mojblocks-cta {

        &__heading {
            margin: 12px 0 15px;
            padding: 0;
        }

        &__content {
            padding: 1px 0 1px;

            a:link:not([class]),
            a:link:not([class]):visited {
				color: black;

                &:focus {
                    color: black;
                }
            }

            p {
                margin-top: 15px;
                margin-bottom: 15px;
                font-size: 20px;
                font-size: govuk-px-to-rem(20);

                @include govuk-media-query($from: tablet) {
                    font-size: 1.1rem;
                    font-size: govuk-px-to-rem(18);
                }
            }

            @include govuk-media-query($from: tablet) {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}
/*
Specifically only include this style if it isnt a GDS styled site
*/
body.hale-colours-variable {
    .wp-block-mojblocks-cta {
        .mojblocks-button,
        a.mojblocks-button {
            border-radius: 5px;
        }

        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
        }
    }
}

.wp-block-mojblocks-cta {
    a.mojblocks-cta-link {
        display: inline-block;
    }

    .mojblocks-button,
    a.mojblocks-button {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        font-size: 24px;
        font-size: govuk-px-to-rem(24);
        font-weight: 900;
        line-height: 36px;
        line-height: govuk-px-to-rem(36);
        margin-top: 15px;
        padding: 4px 22px;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 100%;

        @include govuk-media-query($from: tablet) {
            display: inline-block;
            width: auto;
        }

        &:visited {
            text-decoration: none;
        }
    }

    .govuk-grid-column-three-quarters {
        @include govuk-media-query($from: tablet) {
            @include govuk-responsive-padding(0);
        }
    }
}

// The following bit of code sets the width to full-width if the flex-basis is anything other than 100%
// In such cases, the flex basis is probably 66% so the text will already be reduced width
// this relies on the current practice of style only having flex-basis
@include govuk-media-query($from: tablet) {
    .wp-block-column[style|="flex"]:not([style$="100%"]) {
        align-self: stretch;

        > div:last-child,
        > figure:last-child {
            // This is to solve the specific problem of CCRC, so we just target figure & div.
            // It starts to have undesirable effects elsewhere if we are more general.
            margin-bottom:0;
        }

        .block-cancel-gds-width-if-flex-narrow {
            width: 100%;
        }
    }
}
