@charset "UTF-8";
/*********************************************************************************************

Block: Call to Action (Frontend styles)

**********************************************************************************************/

.wp-block-mojblocks-cta {
    padding: 15px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    .govuk-grid-row {
        // Gov UK override keeping the block within the container.
        margin-right: 0;
        margin-left: 0;
    }

    .mojblocks-cta {

        &__heading {
            margin: 12px 0 15px;
            padding: 0;
        }

        &__content {
            padding: 1px 0 1px;

            a:link:not([class]),
            a:link:not([class]):visited {
				color: black;

                &:focus {
                    color: black;
                }
            }

            p {
                margin-top: 15px;
                margin-bottom: 15px;
                font-size: 20px;
                font-size: govuk-px-to-rem(20);

                @include govuk-media-query($from: tablet) {
                    font-size: 1.1rem;
                    font-size: govuk-px-to-rem(18);
                }
            }

            @include govuk-media-query($from: tablet) {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    .mojblocks-button,
    a.mojblocks-button {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        font-size: 24px;
        font-size: govuk-px-to-rem(24);
        font-weight: 900;
        line-height: 36px;
        line-height: govuk-px-to-rem(36);
        margin-top: 15px;
        padding: 4px 22px;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 100%;
        border-radius: 5px;

        @include govuk-media-query($from: tablet) {
            display: inline-block;
            width: auto;
        }

        &:visited {
            text-decoration: none;
        }

        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
        }
    }

    .govuk-grid-column-three-quarters {
        @include govuk-media-query($from: tablet) {
            @include govuk-responsive-padding(0);
        }
    }
}
