@charset "UTF-8";
/*********************************************************************************************

Block: Banner (Frontend styles)

**********************************************************************************************/

.mojblocks-banner {

	padding: 20px 0;

	&__title {
		margin-bottom: 18px;

		@include govuk-media-query($from: tablet) {
			margin-bottom: 0;
			line-height: 100%;
		}

		h1, h2, h3, h4, h5, h6 {
			@include govuk-media-query($from: tablet) {
				margin-bottom: 0;
				line-height: 100%;
			}
		}
	}

	&__button.govuk-button {
		font-size: 24px;
		font-size: govuk-px-to-rem(24);
		font-weight: 700;

		@include govuk-media-query($from: tablet) {
			float: right;
			margin-top: 12px;
		}
	}
}
