@charset "UTF-8";
/*********************************************************************************************

Block: Featured News (Frontend styles)

**********************************************************************************************/

.mojblocks-spinner {
	border: 18px solid #DEE0E2;
	border-radius: 50%;
	border-top-color: #005EA5;
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin:auto;
	
	&-text {
		text-align:center;
		margin:auto;
	}
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.mojblocks-featured-news {
	margin: 48px 0;
	margin: govuk-px-to-rem(48) 0;

	&--0 {
		// show in editor that it will not be rendered
		background-color:lightgrey;
		position:relative;
		* {
			filter:grayscale(1);
		}
		.mojblocks-featured-news__image {
			background: linear-gradient(to bottom left, #595959, #000);
			img {
				display:none;
			}
		}

		&:after {
			content: "No article selected"!important;
			position: absolute;
			color: yellow;
			font-size: 30px;
			font-weight: 700;
			top: 30%;
			left: 20%;
			background: darkred;
			padding: 2px 20px 5px;
			transform: rotate(-20deg);
		}

	}

	& .govuk-grid-row {
		position: relative;

		// Gov UK override keeping the block within the container.
		margin-right: 0;
		margin-left: 0;
	}
	&__summary.govuk-body {
		margin-bottom:8px;
		margin-bottom:govuk-px-to-rem(8);
	}
	&__link {
		font-weight: 700;
		margin-top: 16px;
		margin-top: govuk-px-to-rem(16);
	}
	&__image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		max-height:400px;
		display:block;
		width:100%;
		height:230px;
		min-height:0.3vw;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	&__text {
		display:block;
		width:100%;
		padding: 40px 0 0 0;
		padding: govuk-px-to-rem(40) 0 0 0;
	}

	@include govuk-media-query($from: tablet) {
		@include govuk-clearfix;
		&__item {
			display:flex;
		}

		&__image, &__text {
			height:initial;
			min-height:230px;
			flex: 1;
		}
		&__text {
			padding: 32px 0 0 32px;
			padding: govuk-px-to-rem(32) 0 0 govuk-px-to-rem(32);
		}
	}

	&--no-image {
		.mojblocks-featured-news__image {
			display:none;
		}
		.mojblocks-featured-news__text {
			padding: 1px 0 0 0;
		}
	}

	&__headline {
		margin: 16px 0;
		margin: govuk-px-to-rem(16) 0;

		&-link.govuk-link{
			position: relative;
			text-decoration: none;

			&:before { //bar above headline
				content: "";
				width: 64px;
				width: govuk-px-to-rem(64);
				height: 8px;
				height: govuk-px-to-rem(8);
				background: currentColor;
				position: absolute;
				top: -24px; //16px + 8px (height of bar)
				top: govuk-px-to-rem(-24);
				pointer-events: none;
			}
		}

	}

	&__date.govuk-body-s {
		color:$govuk-secondary-text-colour;
	}

	.mojblocks-featured-news-hide-date .mojblocks-featured-news__date {
		display:none;
	}
}

.wp-block-column:not([style="flex-basis:66.66%"]) {

	.mojblocks-featured-news__item,
	.mojblocks-featured-news__text {
		display: block;
		width:100%;
	}
	.mojblocks-featured-news__image {
		display: block;
		width:100%;
		height:230px;
		min-height:0.3vw;
		padding:0;
	}
	.mojblocks-featured-news__text {
		padding: 40px 0 0 0;
		padding: govuk-px-to-rem(40) 0 0 0;
	}
	.mojblocks-featured-news--no-image {
		.mojblocks-featured-news__image {
			display:none;
		}
	}
}
