@include govuk-media-query($from: "tablet", $media-type: screen) {
	ul, ol {
		max-width: 666px;

		&.is-style-wide {
			max-width: 960px;
		}
		&.has-text-align-center {
			margin-left:auto;
			margin-right:auto;
		}
	}
}
