@charset "UTF-8";
/*********************************************************************************************

Block: Reveal (Frontend styles)

**********************************************************************************************/

/**
*  The reveal block is based on the GOV UK Design system details block.
*  https://design-system.service.gov.uk/components/details/
**/

.mojblocks-reveal {
	max-width: 666px;

	&__content p:not([class]) {
		margin-bottom: 0;
	}
}
