@charset "UTF-8";
/*********************************************************************************************

Plugin Name: MOJ Blocks
Block: Accordion (Gutenberg editor styles)
Text Domain: mojblocks

**********************************************************************************************/

/** Variables */
$mojblocks-color-light-blue: #1d70b8;
$mojblocks-color-grey: #6F777B;

/*********************************************************************************************

SASS modifications to conform GovUK frontent to MoJ block styling

**********************************************************************************************/

.govuk-accordion__section-header {
    border-top: 1px dashed $mojblocks-color-grey;
    color: $mojblocks-color-light-blue;

    &:before {
        content: 'Accordion section';
    }
}

.govuk-accordion__section-content {
    display: block;
}