@charset "UTF-8";
/*********************************************************************************************

Plugin Name: MOJ Blocks
Block: Accordion (frontend styles)
Text Domain: mojblocks

**********************************************************************************************/

/** Variables */
$mojblocks-color-light-blue: #1d70b8;
$mojblocks-color-teal: #336C83;
$mojblocks-color-dark-blue: #003078;
$mojblocks-color-grey: #6F777B;
$mojblocks-color-light-grey: #C7CDD0;

// https://design-system.service.gov.uk/components/accordion/
@import "node_modules/govuk-frontend/govuk/components/accordion/accordion";

//  SASS modifications to conform GovUK frontent to MoJ block styling

.js-enabled .govuk-accordion__section-header {
    padding: 20px 28px 20px 10px;
    border-top: 1px solid $mojblocks-color-light-grey;
    color: $mojblocks-color-light-blue;
}

.js-enabled .govuk-accordion__icon {
    right: 0;
    left: -30px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
}

// Remove "mustaches" underline caused by NHS styles conflicting with Gov UK
.govuk-accordion__section-button, .govuk-accordion__open-all {
    box-shadow: none;
}

.js-enabled .govuk-accordion {
    border-bottom: none;
    &:last-child {
        border-bottom: 1px solid $mojblocks-color-light-grey;
    }
}

.govuk-accordion {
    margin-bottom: 0;
}

// Remove Gov UK control toggles. Currently not required for MoJ block design.
.js-enabled .govuk-accordion__controls {
    display: none;
}

.govuk-accordion__section-heading {
    margin-left: 22px;
    color: $mojblocks-color-light-blue;
}

.js-enabled .govuk-accordion__icon::after, 
.js-enabled .govuk-accordion__icon::before {
    background-color: $mojblocks-color-light-blue;
}

.js-enabled .govuk-accordion__section-content {
    padding-top: 0;
}

.govuk-body {
    padding-left: 30px;
}