@charset "UTF-8";
/*********************************************************************************************

Block: Separator (Gutenberg editor styles)

**********************************************************************************************/

@import 'style.scss';


.mojblocks-route-planner {
	input, button {
		//prevents interaction with form elements on edit screen
		pointer-events: none;
	}

	&--empty {
		//no destination set
		outline: 2px dashed #b1b4b6;
		background-color:#f3f2f1;
		* {
			opacity: 0.6;
		}
		&:after {
			content: "No destination selected"!important;
			position: absolute;
			color: yellow;
			font-size: 30px;
			font-weight: 700;
			top: 30%;
			left: 12px;
			background: darkred;
			padding: 2px 20px 5px;
			transform: rotate(-17deg);
			opacity:1;
		}
	}
}
