@charset "UTF-8";

.editor-styles-wrapper {
	@import 'common.scss';
}

/* Skipping heading level */

/*
	:not(h2 ~ *)   = there is no H2 tag above it
	:not(h2 ~ * *) = there is no H2 tag above its container
	:not(*:has(h2) ~ *) = there is no H2 tag in a container above it
	:not(*:has(h2) ~ * *) = there is no H2 tag in a container above its container
*/
.wp-block-heading:is(h3, h4, h5, h6):not(h2 ~ *, h2 ~ * *, *:has(h2) ~ *, *:has(h2) ~ * *),
.wp-block-heading:is(h4, h5, h6    ):not(h3 ~ *, h3 ~ * *, *:has(h3) ~ *, *:has(h3) ~ * *),
.wp-block-heading:is(h5, h6        ):not(h4 ~ *, h4 ~ * *, *:has(h4) ~ *, *:has(h4) ~ * *),
.wp-block-heading:is(h6            ):not(h5 ~ *, h5 ~ * *, *:has(h5) ~ *, *:has(h5) ~ * *),
h1 + .wp-block-heading:is(h3, h4, h5, h6),
h2 + .wp-block-heading:is(h4, h5, h6),
h3 + .wp-block-heading:is(h5, h6),
h4 + h6.wp-block-heading {
	outline: 4px solid #b32d2e;
	outline-offset: 2px;

	&:after {
		content: '⚠️ Have you skipped heading levels?';
		background: rgba( 0,0,0,.65 );
		color: #fff;
		display: block;
		padding: 3px 5px;
		border-radius: 5px;
		border: 1px solid #b32d2e;
		font-size: .875rem;
		font-weight: 700;
	}
}
