@charset "UTF-8";
/*********************************************************************************************

Block: iFrame (Frontend styles)

**********************************************************************************************/

.moj-block-iframe {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;

  &--border {
    border: 1px solid;
  }
}
