@charset "UTF-8";
/*********************************************************************************************

Block: Card (Frontend styles)

**********************************************************************************************/

.mojblocks-card {

	h2, p {
		margin-top: govuk-px-to-rem(12);
	}

	max-width: 100%;
	padding: govuk-px-to-rem(12);
	margin-bottom: govuk-px-to-rem(12);

    border-radius: inherit;

	margin: 15px 0;

    &__image {

        &.mojblocks-card__image--shape {
            &-square { //1:1
                padding-bottom: 100%;
            }
            &-rectangle { //4:3
                padding-bottom: 75%;
            }
            &-widescreen { //16:9
                padding-bottom: 56.25%;
            }
            &-letterbox { //21:9
                padding-bottom: 42.86%;
            }
        }
        &:is(.mojblocks-corner-rounded--24 *) {
            border-radius: 18px;
        }

        &-selected {
            // ratio of 3 over 2 for small devices
            width: 100%;
            padding-bottom: 75%;
            // end ratio
            position: relative;
            background-size: cover;
            background-position: top center;
            border-radius: 0;

            @include govuk-media-query($from: tablet) {
                // ratio of 2 over 1 for small devices
				padding-bottom: 100%;
            }
        }

        @media screen and (-ms-high-contrast: active) {
			filter: invert(100%);
        }
    }

    &__content {

        &__icon {
            padding: 20px 0 2px;
            > svg {
                color: $mojblocks-color-dark-grey;
                fill: $mojblocks-color-dark-grey;
                -moz-transform: rotate(1deg) skew(-10deg, 0deg);
                -webkit-transform: rotate(1deg) skew(-10deg, 0deg);
                -o-transform: rotate(1deg) skew(-10deg, 0deg);
                -ms-transform: rotate(1deg) skew(-10deg, 0deg);
                transform: rotate(1deg) skew(-10deg, 0deg);
                min-width: 32px;
                min-height: 32px;
            }
        }

        &__card {
            color: $mojblocks-color-dark-grey;
            display: block;
            font-style: italic;
            font-size: 22px;
            font-size: govuk-px-to-rem(22);
            line-height: 28px;
            line-height: govuk-px-to-rem(28);
            margin-bottom: 15px;
            quotes: none;
        }

        &__name {
            display: inline-block;
            font-size: 16px;
            font-size: govuk-px-to-rem(16);
            color: $mojblocks-color-dark-grey;
            margin: 0 0 24px;
        }
    }
}
