@charset "UTF-8";
/*********************************************************************************************

Name: Intro
Author:  Ministry of Justice

**********************************************************************************************/

.mojblocks-intro {
	.govuk-width-container {
		margin: 0;
	}
}
